$font-size: 20px;
$bigger-font-size: 30px;

body,
html {
  margin: 0;
  overflow: hidden;
}

button {
  display: block;
  color: white;
  background-color: black;
  border: 2px solid white;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  border-radius: 5px;
  font-size: $bigger-font-size;
}

#canvas {
  width: 100%;
  height: 100%;
}

.header {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  color: white;
  justify-content: space-between;
  user-select: none;
  font-size: $font-size;

  div {
    padding: 10px;
  }
  #settings-block {
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;

    input {
      max-width: $bigger-font-size;
      font-size: $font-size;
      background-color: transparent;
      border: none;
      outline: none;
      color: white;
      border-bottom: 2px solid white;
    }
    .range {
      max-width: 100px;
    }
    span {
      margin-right: 20px;
    }
  }
  .shown {
    margin-top: 0;
  }
  .hidden {
    margin-top: -100%;
  }
}

#score {
  position: absolute;
  width: 100%;
  top: 0;
  font-size: $bigger-font-size;
  text-align: center;
  white-space: pre-line;
  color: white;
}

.controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
